
.dropdown-wrapper {
    display: flex;
    align-items: center; // Vertically center the dropdown
    justify-content: center; // Horizontally center the dropdown
    height: 100%; // Ensure it takes up the full height of the nav item
}



#language-switcher {
    display: inline-block;
    z-index: 10; 
    font-weight: 400;
    color: $black; 
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid $black; // Border color similar to primary button
    padding: 0.375rem 0.75rem; // Padding similar to button
    font-size: 1rem; // Font size
    line-height: 1.5;
    border-radius: 0.25rem; // Rounded corners
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; // Transition for hover and focus

    &:hover {
        color: rgba($secondary-accent, 0.8); // 80% opacity
        border: 1px solid rgba($secondary-accent, 0.8); // Border color on hover
        outline: none;
        cursor: pointer;
    }

    &:focus {
        color: $primary; // Text color on focus
        background-color: $white; // Background color on focus
        outline: 0; // Remove outline
    }

    &:active {
        color: $primary; // Text color on active
        background-color: $white; // Background color on active
    }


    // Remove default arrow and add custom arrow
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 8px 10px;
    
}

