// 
// Navbar
// 
#mainNav .navbar-nav .nav-link {
    color: rgba($black, 1) !important; // Force the color to override
}
#mainNav {
    min-height: 3.5rem;
    background-color: $secondary;

    .nav-link {
        

        &:hover{
            color: rgba($secondary-accent, 0.8); // 80% opacity
            outline: none;
            background-color: transparent;
        }
    }

    .navbar-toggler {
        font-size: 80%;
        padding: 0.75rem;
        color: $black;
        border: $border-width solid $primary;

        &:focus {
            outline: none;
        }
    }

    .navbar-brand {
        color: $black;
        font-weight: 700;
        padding: 0.9rem 0;
    }

    .navbar-nav {
        .nav-item {
            &:hover {
                color: rgba($secondary-accent, 0.8); // 80% opacity
                outline: none;
                background-color: transparent;
            }

            &:active,
            &:focus {
                outline: none;
                background-color: transparent;
            }
        }
    }

    #language-switcher {
        margin-left: 1rem; // Space between the select and other nav items
    }

    @include media-breakpoint-up(lg) {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;

        //logo left hand screen 
        .navbar-brand {
            padding: 0.5rem 0;
            color: rgba($black, 0.5); // 80% opacity;   
        }
        //nav links right hand screen (about me, courses, ... etc)
        .nav-link {
            transition: none;
            padding: 2rem 1.5rem;
            color: rgba($black, 0.5);

            &:hover {
                color: rgba($primary, 0.25);
            }

            &:active {
                color: $white;
            }
        }

        &.navbar-shrink {
            background-color: $white;

            .navbar-brand {
                color: $black;
            }

            .nav-link {
                color: $black;
                padding: 1.5rem 1.5rem 1.25rem;
                border-bottom: 0.25rem solid transparent;

                &:hover {
                    color: $primary;
                }

                &:active {
                    color: darken($primary, 15%);
                }

                &.active {
                    color: $primary;
                    outline: none;
                    border-bottom: 0.25rem solid $primary;
                }
            }
        }
    }
}