// 
// About
// 

.about-section {
    padding-top: 10rem;
    color:$black;
    background: linear-gradient(to bottom,
        $secondary 0%,
        #{fade-out($secondary, 0.1)} 75%,
        #{fade-out($secondary, 0.2)} 100%);

    p {
        margin-bottom: 5rem;
    }
}