.testimonial-card {
    background-color:$white; ;
    border: none;
    box-shadow: 0 4px 6px rgba($black, 0.1);

    margin: 5rem 0;

    .card-body {
        text-align: center;
        p {
            font-style: italic;
            color: $black;
        }
        h5 {
            margin-top: 10px;
            font-weight: bold;
        }
    }
}

.testimonial-row {
    justify-content: center; // Center testimonials horizontally
    align-items: center; // Center testimonials vertically (if needed)
    margin: 0 auto; // Ensure the row is centered within the container
}
