extends layout

block content
    section.course-page
        .container.px-4.px-lg-5
            h2(data-translate = 'biblicalhebrewpage.title')
            p(data-translate = 'biblicalhebrewpage.content')