

// Courses Overview
        section#projects.projects-section.bg-light
            .container.px-4.px-lg-5
                // Featured Project Row
                .row.gx-0.mb-4.mb-lg-5.align-items-center
                    h4 Courses on offer
                // Course One Row

                // Course One Row with Flip Card
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        .flip-card
                            .flip-card-inner
                                // Front Side: Image and Text
                                .flip-card-front
                                    .content-wrapper.d-flex
                                        .image-wrapper
                                            img.img-fluid(src='assets/img/demo-image-01.jpg', alt='...')
                                        .text-content
                                            h4.text-dark Bar Mitzvah
                                            p.mb-0.text-dark-50
                                                | Detailed text about what Bar Mitzvah is. This section can contain more information and links to other resources.
                                            a.btn.btn-primary.mt-3(href='#barmitzvah') Learn More
                                // Back Side: Text Only
                                .flip-card-back
                                    .project-text.my-auto.text-center.text-lg-left
                                        p.mb-0.text
                                            | Additional information about Bar Mitzvah. This section can contain links or further details.
                                        a.btn.btn-primary.mt-3(href='#barmitzvah') flip back